<form action="/Cats/Save" method="post">
    <label for="Name">Name:</label>
    <input type="text" name="Name" /><br />
    <label for="Age">Age:</label>
    <input type="text" name="Age" /><br />
    <input type="submit" value="Save" />
</form>